.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: 29px;
    font: $fontPrimBold;
    font-size: rem(14);
    color: $white;
    cursor: pointer;

    &.is-grey {
        background-color: $grey03;
    }

    &.is-green {
        background-color: $orange02;
    }
}