$ce: contact_entry;

.#{$ce} {

    @include min-screen($lg) {
        position: relative;
        width: 846px;
        padding: 0 0 225px;
        margin: 57px auto 0;
        font-size: 0;
    }

    &__no_info {
        font: $fontPrimReg;
        font-size: rem(35);
        text-align: center;
    }

    &__headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid rgba($grey03, 0.4);

        @include min-screen($lg) {
            position: absolute;
            top: 21px;
            right: 0;
            width: 630px;
            border: none;
        }

        .contactentryedit & {
            @include min-screen($lg) {
                top: 34px;
            }
        }
    }

    &__back_btn,
    &__delete_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;

        .icon {
            color: $grey03;
        }
    }

    &__back_btn {
        margin: 0 auto 0 12px;

        @include min-screen($lg) {
            width: 42px;
            height: 42px;
            margin: 0 0 0 -5px;
        }

        @include min-screen($lg) {
        }

        .icon {
            font-size: rem(12);

            @include min-screen($lg) {
                font-size: rem(15);
            }
        }
    }

    &__delete_btn {
        margin: 0 13px 0 auto;

        @include min-screen($lg) {
            width: 78px;
            margin: 0 -3px 0 auto;
        }

        p {
            display: none;
            visibility: hidden;

            @include min-screen($lg) {
                display: block;
                visibility: visible;
                font: $fontPrimReg;
                font-size: rem(14);
                color: $grey03;
            }
        }

        .icon {
            font-size: rem(17);

            @include min-screen($lg) {
                margin: 0 0 0 15px;
            }
        }
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 22px;
        font-size: 0;

        @include min-screen($lg) {
            display: inline-flex;
            padding: 0;
        }
    }

    &__avatar_upload,
    &__image_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: rgba($green02, .4);

        @include min-screen($lg) {
            width: 180px;
            height: 180px;
        }

        &::before {
            content: " ";
            position: absolute;
            top: -3px;
            right: -3px;
            bottom: -3px;
            left: -3px;
            z-index: -1;
            margin: auto;
            background-color: rgba($grey03, 0.3);
            border-radius: 50%;
        }

        .icon {
            font-size: rem(19);
            color: $white;
        }
    }

    &__image_wrap {

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        .icon {
            position: absolute;
            z-index: 2;
            font-size: rem(12);
        }

        &::after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: rgba($black, 0.4);
            border-radius: 100%;
        }

        input {
            display: none;
            visibility: hidden;
        }

    }

    &__image_figure {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    &__avatar_input {
        display: none;
        visibility: hidden;
    }

    &__inner_wrap {
        @include min-screen($lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: -90px 0 0;
        }
    }

    &__info {
        position: relative;
        padding: 0 0 25px;
        border-top: 1px solid $green02;
        margin: 0 25px 0;

        @include min-screen($md) {
            width: 540px;
            margin: 0 auto;
        }

        @include min-screen($lg) {
            width: 630px;
            padding: 0 0 30px;
            margin: 0 0 0 30px;
        }

        &--numbers {
            @include min-screen($lg) {
                padding: 0;
            }
        }
    }

    &__info_label {
        position: relative;
        display: flex;
        align-items: center;
        height: 49px;
        padding: 0 0 0 30px;
        font: $fontPrimBold;
        font-size: rem(14);
        color: $green02;

        @include min-screen($lg) {
            height: 59px;
            font-size: rem(16);
        }

        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            display: flex;
            align-items: center;
            font-size: rem(14);

            .#{$ce}__info--email & {
                font-size: rem(10);
            }
        }
    }

    &__input_wrap {

        &--numbers {
            position: relative;
        }

        + .#{$ce}__input_wrap {
            margin: 40px 0 0;

            @include min-screen($lg) {
                margin: 30px 0 0;
            }
        }
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 0 0 0 25px;
        border: 1px solid rgba($grey03, .4);
        border-radius: 4px;
        font: $fontPrimReg;
        font-size: rem(14);
        color: rgba($grey03, .4);

        @include min-screen($lg) {
            width: calc(300 / 630 * 100%);
            height: 60px;

            &:hover {
                border-color: $green02;
            }
        }

        &:focus,
        &:active,
        &.has-value {
            color: $grey03;
        }

        &.has-error {
            border-color: $red01;
        }

        &.is-short {
            width: calc(275 / 325 * 100%);
            margin: 10px 0 0;

            @include min-screen($lg) {
                width: calc(240 / 630 * 100%);
                margin: 0 0 0 30px;
            }
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey03;
            opacity: 0.5;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey03;
            opacity: 0.5;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $grey03;
            opacity: 0.5;
        }

    }

    &__input_error {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 25px;
        padding: 0 0 0 25px;
        font: $fontPrimReg;
        font-size: rem(12);
        color: $red01;

        @include min-screen($lg) {
            height: 30px;
        }
    }

    &__delete_wrap {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        width: 31px;
        height: 50px;
        cursor: pointer;

        @include min-screen($lg) {
            height: 60px;
        }
    }

    &__delete_input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid $grey03;
        border-radius: 100%;
        opacity: 0.5;

        .icon {
            font-size: rem(8);
            color: $grey03;
        }

        &:hover {
            @include min-screen($lg) {
                border-color: $green02;
                opacity: 1;

                .icon {
                    color: $green02;
                }
            }
        }
    }

    &__add_input {
        display: flex;
        align-items: center;
        height: 31px;
        margin: 41px 0 0;
        cursor: pointer;

        @include min-screen($lg) {
            margin: 44px 0 0;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border: 1px solid $green02;
            border-radius: 100%;
            font-size: rem(8);
            color: $green02;
        }

        p {
            margin: 0 0 0 15px;
            font: $fontPrimReg;
            font-size: rem(14);
            color: $green02;
        }
    }

    &__buttons_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        margin: 69px auto 33px;

        @include min-screen($md) {
            width: 540px;
            padding: 0;
        }

        @include min-screen($lg) {
            position: absolute;
            bottom: 78px;
            right: 0;
            width: 630px;
            padding: 0;
        }

        .btn {
            width: calc(50% - 5px);
            max-width: 160px;
        }
    }

}