$c: contact;

.#{$c} {

    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 0 0 13px;
    border: 1px solid rgba(187, 196, 195, 0.4);
    border-radius: 4px;

    & + .contact{
        margin: 10px 0 0;
    }

    &__list {
        margin: 10px 8px 0;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 46px;
        height: 46px;
        border: 3px solid rgba(#BBC4C3, .3);
        border-radius: 100%;
        background-color: rgba($grey01, 0.5);
        margin: 0;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
    }

    &__name {
        flex: 0 1 auto;
        margin: 0 0 0 20px;
        font: $fontPrimBold;
        font-size: rem(14);
        color: $grey03;

        @include min-screen(360px) {
            margin: 0 0 0 25px;
        }
    }

    &__options_wrap {
        display: flex;
        height: 100%;
        flex: 0 0 135px;
        margin: 0 0 0 auto;
    }

    &__option {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;

        span {
            color: $grey03;
        }
    }



}