$c: contact;

.#{$c} {

    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 0 0 13px;
    border: 1px solid rgba(187, 196, 195, 0.4);
    border-radius: 4px;

    @include min-screen($lg) {
        position: relative;
        display: inline-flex;
        justify-content: center;
        width: calc((100% - 90px) / 4);
        height: auto;
        padding: 29px 0 23px;
        margin: 0 30px 29px 0;

        &:hover {
            border-color: $orange02;
        }
    }

    & + .contact{
        margin: 10px 0 0;

        @include min-screen($lg) {
            margin: 0 30px 29px 0;
        }
    }

    &:nth-child(4n + 4) {
        @include min-screen($lg) {
            margin: 0 0 29px 0;
        }
    }

    &--add_new {
        min-height: 152px;
        border: none;

        @include max-screen($lg - 1) {
            display: none;
            visibility: hidden;
        }
    }

    &__list_wrap {
        padding: 0 8px;
        margin: 0 0 60px;

        @include min-screen($md) {
            width: 540px;
            padding: 0;
            margin: 0 auto 60px;
        }

        @include min-screen($lg) {
            position: relative;
            width: 1260px;
            padding: 0 47px;
            margin: 0 auto;
        }
    }

    &__list {
        margin: 10px 0 0;

        @include min-screen($lg) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 1260px;
            margin: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;

        @include min-screen($lg) {
            flex-direction: column;
            width: 160px;
            text-align: center;
        }
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border: 3px solid rgba(#BBC4C3, .3);
        border-radius: 100%;
        background-color: rgba($grey01, 0.5);
        margin: 0;
        overflow: hidden;

        @include min-screen($lg) {
            width: 60px;
            height: 60px;
        }

        img {
            display: block;
            width: 100%;
        }

        .icon {
            color: $blue01;
        }
    }

    &__name {
        flex: 0 1 auto;
        margin: 0 0 0 20px;
        font: $fontPrimBold;
        font-size: rem(14);
        color: $grey03;

        @include min-screen(360px) {
            margin: 0 0 0 25px;
        }

        @include min-screen($lg) {
            margin: 16px 0 0;
            font-size: rem(18);
            line-height: rem(22);
        }
    }

    &__options_wrap {
        display: flex;
        height: 100%;
        flex: 0 0 135px;
        margin: 0 0 0 auto;

        @include min-screen($lg) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            align-items: flex-end;
            flex: none;
            height: 29px;
        }
    }

    &__option {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        cursor: pointer;

        @include min-screen($lg) {
            width: 41px;
            height: 100%;
            align-items: flex-end;
        }

        &--favorite {
            @include min-screen($lg) {
                margin: 0 auto 0 0;
            }
        }

        &--edit {
            @include min-screen($lg) {
                display: none;
            }
        }

        &--delete {
            @include min-screen($lg) {
                position: relative;
                top: -1px;
                display: none;
                margin: 0 3px 0 0;
            }
        }

        .#{$c}:hover & {
            @include min-screen($lg) {
                display: inline-flex;
            }
        }

        span {
            color: $grey03;
        }
    }



}