$h: header;

.#{$h} {
    position: relative;
    height: 50px;
    background-image: linear-gradient(182.65deg, $green01 0%, $green03 99.98%, $green03 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    @include min-screen($lg) {
        height: 60px;
    }

    &::after {
        content: " ";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 7px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        opacity: 0.3;
    }

    &__logo_figure {
        display: flex;
        height: 43px;
        align-items: center;
        justify-content: center;

        @include min-screen($lg) {
            height: 53px;
        }
    }

    img {
        display: block;
        width: 149px;
        height: 15px;

        @include min-screen($lg) {
            width: 178px;
            height: 18px;
        }
    }


}