// color scheme - https://colorhunt.co/palette/201676

$white: #fff;
$black: #000;
$grey01: #eaeaea;
$grey02: #e3e3e3;
$grey03: #bbc4c3;
$grey04: #dcdcdc;
$orange01: #FFBE0B;
$orange02: #FB5607;
$blue01: #3A86FF;
$magenta01: #FF006E;

// fonts
$fontPrimReg: normal 400 100% 'LatoRegular', sans-serif;
$fontPrimBold: normal 400 100% 'LatoBold', sans-serif;

// breakpoints
$md: 600px;
$lg: 1260px;