// colors
$white: #fff;
$black: #000;
$grey01: #eaeaea;
$grey02: #e3e3e3;
$grey03: #bbc4c3;
$grey04: #dcdcdc;
$green01: #78c9ce;
$green02: #2da1ad;
$green03: #2496a2;
$red01: #ff0000;

// fonts
$fontPrimReg: normal 400 100% 'LatoRegular', sans-serif;
$fontPrimBold: normal 700 100% 'LatoBold', sans-serif;